@import "compass";
@import "bootstrap";
@import "mixins";
//@import "grid";
$fontSize:14px;
$lineHeight: 1.4;
$white: #fafafa;
$black: #191919;
$pagode: #c13e34;
$neutral: #a0a0a0;
$zoo: #256994;
$seminaire: #666;
$jardin: #97bf0d;
$hameaux: #489095;
$nature: #191919;
$parrainage: #ff8749;

html{
  height: 100%;
  width: 100%;
}
body{
  color: $black;
  background-color: $white;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: $fontSize;
  line-break: $lineHeight;
  &.msOpen{
    #main-sidebar{
      //@include translateX(0);
      left: 0;
      .sidebar-menu{
        display: block;
      }
    }
    #main{
      //@include translateX(220px);
      left: 220px;
    }
  }
  &.msClose{
    #main-sidebar{
      //@include translateX(-200px);
      left: -185px;
      .sidebar-menu{
        display: none;
      }
    }
    #main{
      //@include translateX(-200px);
      left: 35px;
    }
  }
  &.ssOpen{
    #secondary-sidebar{
      left: 0;
      .sidebar-menu{
        display: block;
      }
    }
    #content{
      left:220px;
      @include box-shadow(rgba(0,0,0,0.5) 0 0 5px);
    }
  }
  &.ssClose{
    #secondary-sidebar{
      left: -180px;
      .sidebar-menu{
        display: none;
      }
    }
    #content{
      left: 40px;
      @include box-shadow(0);
    }
  }
}

.navbar-fixed-top {
  border: 0;
}
.navbar-inverse{border:none; background-color: $black;}
.navbar-fixed-top,.navbar-fixed-bottom{z-index:10000;}

#main-sidebar{
  position: absolute;
  width: 220px;
  top: 50px;
  bottom: 0;
  //left: 0;
  @include transition(all 0.3s);
  //background-color: #143743;
  background-color: $black;

  color:$white;
  z-index: 900;
  #sidebar-content{
    padding-bottom: 50px;
  }
}
.controls-bar{
  @include clearfix;
  background-color: $black;
  color: $white;
  padding:10px 10px 5px 10px;
  button{
    float: right;
    padding: 5px;
    border: 0;
    background-color: inherit;
    outline: none;
  }
}
.sidebar-menu{
  &.bg-default{
    h3{
      background-color:$neutral;
    }
    ul{
      li{
        a{
          color: $neutral;
        }
      }
    }
  }
  &.bg-zoo{
    h3{
      background-color:$zoo;
    }
    ul{
      li{
        a{
          color: $zoo;
        }
      }
    }
  }
  &.bg-pagode{
    h3{
      background-color:$pagode;
    }
    ul{
      li{
        a{
          color: $pagode;
        }
      }
    }
  }
  &.bg-seminaire{
    h3{
      background-color:$seminaire;
    }
    ul{
      li{
        a{
          color: $seminaire;
        }
      }
    }
  }
  &.bg-jardin{
    h3{
      background-color:$jardin;
    }
    ul{
      li{
        a{
          color: $jardin;
        }
      }
    }
  }
  &.bg-hameaux{
    h3{
      background-color:$hameaux;
    }
    ul{
      li{
        a{
          color: $hameaux;
        }
      }
    }
  }
  &.bg-nature{
    h3{
      background-color:$nature;
    }
    ul{
      li{
        a{
          color: $nature;
        }
      }
    }
  }
  &.bg-parrainage{
    h3{
      background-color:$parrainage;
    }
    ul{
      li{
        a{
          color: $parrainage;
        }
      }
    }
  }



  h3{
    padding: 10px 15px 10px 10px;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    @include user-select(none);
    position: relative;
    z-index: 50;
    @include box-shadow(rgba(0,0,0,0.3) 0 1px 5px);
    font-weight: 700;
    &.open + ul{
      display: block;
    }
  }
  ul{
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      &:last-child a{
        border-bottom: none;
      }
      &.active{
        a{
          font-weight: 700;
          &:hover{
            padding-left: 10px;
            font-style: normal;
          }
          &:after{
            display: block;
          }
        }
      }
      a{
        display: block;
        padding: 10px 14px 10px 10px;
        text-decoration: none;
        color: inherit;
        outline: none;
        background-color: $white;
        position: relative;
        @include transition(all 0.2s);
        border:{
          bottom-style: solid;
          bottom-color: #eeeeee;
          bottom-width: 1px;
        }
        &:hover{
          padding-left: 20px;
          background-color: darken($white,2%);
          font-style: italic;
        }
        &:after{
          display: none;
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          height: ($fontSize * $lineHeight) + 20;
          border:{
            top: (($fontSize * $lineHeight) + 20) /2 solid transparent;
            bottom: (($fontSize * $lineHeight) + 20)/2 transparent solid;
            right: 12px solid ;
            left: none;
          }
        }
      }
    }
  }
}
#main{
  position: absolute;
  background-color: $white;
  top: 50px;
  @include transition(all 0.3s);
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 900;
  border:{
    style: solid;
    width: 5px;
  }
  @include box-shadow(rgba(0,0,0,0.5) 0 0 5px);
  #secondary-sidebar{
    #secondary-sidebar-content{
      padding-bottom: 50px;
    }
    .controls-bar{
      @include clearfix;
      background-color: $white;
      color: $black;
      padding: 5px 10px;
    }
    position: absolute;
    z-index: 100;
    top: 0;
    @include transition(all 0.3s);
    bottom: 0;
    width: 220px;
    border-right: #eee 1px solid;
    .sidebar-menu{

      h3{
        border-bottom: #eeeeee 1px solid;
      }
      ul{
        display: block;
        li{
          &.active{
            a{
              padding: 10px 20px;
              text-align: center;
              background-color: #efefef;
              font-weight: normal;
              &:after{
                display: none;
              }
            }
          }
          a{}
          &:last-child{
            a{
              border:{
                bottom-style: solid;
                bottom-color: #eeeeee;
                bottom-width: 1px;
              }
            }
          }
        }
      }
    }
  }
  #content{
    position: absolute;
    z-index: 150;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    min-height: 100%;
    padding: 10px;
    background-color: $white;
    @include transition(all 0.3s);

  }
  &.bg-default{
    border-color: $neutral;
  }

  &.bg-zoo{
    border-color: $zoo;
  }
  &.bg-pagode{
    border-color: $pagode;
  }
  &.bg-seminaire{
    border-color: $seminaire;
  }
  &.bg-jardin{
    border-color: $jardin;
  }
  &.bg-hameaux{
    border-color: $hameaux;
  }
  &.bg-nature{
    border-color: $nature;
  }
  &.bg-parrainage{
    border-color: $parrainage;
  }
}


@import "nanoscroller";
